a{
	text-decoration:none;''
	color:black;
}
/* visited link */
a:visited {
	color:black;
}
/* mouse over link */
a:hover {
	color:black;
}
#navigation {
	padding-left: 100px;
	padding-right:100px;
}
.nav>li>a{
	color:black;
}
.nav>li>a:hover {
	color: #428bca;
}
#header{
	background-color: white;
}
.navbar-brand {
	color :black;
	font-size:35px;
	padding-top: 10px;
}
.nav>li>a:hover, .nav>li>a:focus {
	text-decoration: none;
	 background-color: white; 
}
.navbar{
	padding-top:3px;
	padding-bottom: 3px;
	background-color: white;
	vertical-align: middle;
	box-shadow: 0 7px 0px rgba(0,0,0,.1);
	border-color: lightgray;
	border-width: 0 0 1px;
}
.menubar{
	padding-top: 5px;
}
.navbar.container{
	width:1000px;
}
.container{
	width: auto;
}
.container.leftdiv{
	padding: 0px;
}
#body{
	padding-top: 57px;
	background-color: #f8f8f8;
}
.content{
	width: 1000px;
	padding-top:15px;
}
.banner{
	height : 300px;
	background-color: #41beb8;
	border-color: gray;
}
.list-group{
	box-shadow: 0 1px 2px rgba(0,0,0,.075);

}
.leftdiv{
	background-color:white; 
	border:1px #f0f0f0 solid;
	box-shadow: 0 1px 2px rgba(0,0,0,.075);
	
	margin-bottom: 10px;
}

.profile-pic{
	
	width:140px;
	height:140px;
	float : left;
	margin-right: 15px;
}
.profile-exp{
	width : auto;
	padding-top:10px;
	padding-right: 10px;
}
.profile-exp>p{
	margin-bottom: 0px;	
}