body { 
	padding-top: 70px; 
	background-image: url(http://i.imgur.com/07t2mb2.gif);
	background-width: 1440px;
	background-height: 386px;

}


#JoinModal{
	width:400px;
	margin : auto;
	margin-top: 30px;
}

.col-join-right{
	width:80%;
}

.col-join-left{
	width:20%;
}


.form-group > input{
	width:100%;
}

.googleplusbtn{
	background-color: #dd4b39;
	border-color: #aa333b;
}

#domaininput {
	width: 70%;
	display: inline;
	
}
#domexpl {
	margin-left: 20%;
	margin-right: 3%;
}

.container-item{
	background-color: white;
	margin-bottom:20px;
}