html{
	background-image:url(../images/1d23.jpg);
	background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;

}




body { 
	padding-top: 70px; 
	

}

.firstsign{

	background-color: rgba(207, 207, 207, 0.4);
	padding:10px;
	
   
}

.porfolioh{

	border-color:#353535;
}


.firstsign{
	width:500px;
	margin:0px;
	float:right;
}


#JoinModal{
	width:400px;
	margin : auto;
	margin-top: 30px;
}

.col-join-right{
	width:80%;
}

.col-join-left{
	width:20%;
}


.form-group > input{
	width:100%;
}

.googleplusbtn{
	background-color: #dd4b39;
	border-color: #aa333b;
}

#domaininput {
	width: 70%;
	display: inline;
	
}
#domexpl {
	margin-left: 20%;
	margin-right: 3%;
}


.container-item{
	
	margin-bottom:20px;
}

#myModalLabel{

	color:#230F2B;
	font-size:40px;
	text-align: center;
}

