.page2 {
    font-size: 30px;
    color:black;
    font-family:맑은 고딕;
    letter-spacing: 0.2px;
    padding:10px;

}

.page3{
	font-size: 20px;
	color:black;
}

#header1{

    font-family: Garamond;
    font-size:20px;
}

.l{
	background-color: #ffffff;
    border: 1px solid #dddddd;
    -moz-box-shadow: 5px 5px rgba(0,0,0,0.2);
    -webkit-box-shadow: 5px 5px rgba(0,0,0,0.2);
    box-shadow: 5px 5px rgba(0,0,0,0.2);
}