.container-fluid {

    background-color:#230F2B;
    color:#FFFFFF;
}




.no-list {
    padding: 10px;
    text-align: center;
}

.float-right {
    float: right;
}

.bottomButtons {
    margin: 10px 0px 0px 0px;
    padding: 10px;
    text-align: center;
}

.llCommentList {
    margin: 10px 0px 0px 0px;
}

.img-thumbnail2{

	height:100px;
	width:100px;
}

.col-md-11 portfolio-item{

	margin: 10px 10px 10px 10px;

}

.col-md-8{
	padding-top:10px;
}

