<!DOCTYPE html>
<html lang="ko-kr">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>music doc</title>

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/timeline.css">

    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css" />

    <link rel="stylesheet" type="text/css" href="/static/css/simple-sidebar.css" />

    
    {% block favicon %}
        <link rel="shortcut icon" href="/static/images/favicon.ico"/>
    {% endblock %}
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/base.js"></script>
    <script src="http://js.pusher.com/2.2/pusher.min.js"></script>

</head>
<body>
{% block layout %}{% endblock %}

{% block scripts %}
  

{% endblock %}
</body>
</html>

