{% extends "layout.html" %}

{% block contents %}
<div class="container"  style="width:400px; text-align:center; ">
	<p>회원정보 수정</p>

	<form action=" {{ url_for('changeinfo') }}" method="POST">

		<div class="input-group">
			<span class="input-group-addon" >메일 : {{ session['user_email'] }}</span>
		</div>
		<br>
	
		<div class="input-group">
			<span class="input-group-addon" >이름</span>
			<input type="text" class="form-control" id="email_input" name="name" value="{{ session['user_name'] }}">
		</div>
		<br>
		<div class="input-group">
			<span class="input-group-addon">현재 비밀번호</span>
			<input type="password" class="form-control" name="pw" placeholder="현재 비밀번호를 입력해주세요.">
		</div>
		<br>
		<div class="input-group">
			<span class="input-group-addon">비밀번호</span>
			<input type="password" class="form-control" name="newpw" placeholder="새 비밀번호를 입력해주세요.">
		</div>
		<br>
		<div class="input-group">
			<span class="input-group-addon">비밀번호 확인</span>
			<input type="password" class="form-control" name="pwcf" placeholder="비밀번호를 다시 한 번 입력해주세요.">
		</div>
		<br>
		<button type="submit">수정</button>
	</form>
	<br>
	<P><a href="{{ url_for('memberout') }}">회원 탈퇴</a></P>
</div>
{% endblock %}
