{% extends "layout.html" %}

{% block contents %}
	<p>
		{{ session['user_name'] }}님 안녕하세융! 
		<a href="{{url_for('logout')}}"><input class="form-control" style="width:auto; display:inline;" type="button" value="로그아웃"> </a>
	</p>
	<div id="chatpanel" class="well"></div>
	<div id="chatform" class="input-group" >
		<span class="input-group-addon" >{{session['user_name']}} : </span>
		<input type="text" class="form-control" id="chat_msg" placeholder="할말">
		<span class="input-group-addon" style="cursor:pointer" id="send">보내기</span>
	</div>
	
{% endblock %}