{% extends "layout.html" %}

{% block contents %}
<div class="container">

	<form action=" {{ url_for('login') }}" method="post">


	<div class="col-xs-6">
		<div class="input-group">
			<span class="input-group-addon" >Email</span>
			<input type="text" class="form-control" id="email_input" name="email" placeholder="User email">
		</div>
		<br>
		<div class="input-group">
			<span class="input-group-addon">Password</span>
			<input type="password" class="form-control" name="pw" placeholder="Password">
		</div>
		<br>
		<button type="submit">로그인</button>
	</form>
		
	<!-- 회원가입 Modal 버튼 -->
	<a href="" data-target="#JoinModal" type="button"  data-toggle="modal">아직도 회원이 아니신가요?</a>
	
	<!-- 회원가입 Modal -->
	<div class="modal fade" id="JoinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div >
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="myModalLabel" style="text-align:center">Join</h4>
				</div>

				<form class="" role="form" action="{{url_for('user_join')}}" method="POST">
					<!-- 모달 body -->
					<div class="modal-body">
						{{ form.hidden_tag() }}
						{% from "_form_field.html" import render_field %}
						{% for field in form if field.widget.input_type != 'hidden' %}
							{{ render_field(field, class="form-control") }}
						{% endfor %}
						
						
					</div>
					<!-- /모달 바디 -->
					<!-- 모달 footer -->
					<div class="modal-footer">
						<button type='submit' class="btn btn-primary"  style="width:100%">회원가입</button>
						<button type="button" class="googleplusbtn btn btn-primary" style="width: 100%;
margin-left: 0px; margin-top: 5px;">Google+ 계정으로 회원가입하기</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
						
					</div>
					<!-- /모달 footer -->
				</form>
			</div>
		</div>
		

		<!-- /프로필-->
	</div> 

	<script type="text/javascript">
		if('{{ joinModalOn }}' == 'True'){
			$('#JoinModal').modal('show');	
		}
		
	</script>

	<!-- /회원가입 Modal -->

</div>
{% endblock %}


