{% extends "layout.html" %}

{% block contents %}
<div class="container"  style="width:400px; text-align:center; ">

	<form action=" {{ url_for('login') }}" method="post">
	
		<div class="input-group">
			<span class="input-group-addon" >Email</span>
			<input type="text" class="form-control" id="email_input" name="email" placeholder="User email">
		</div>
		<br>
		<div class="input-group">
			<span class="input-group-addon">Password</span>
			<input type="password" class="form-control" name="pw" placeholder="Password">
		</div>
		<br>
		<input type="submit" id="loginbtn" class="form-control" value="로그인">
	</form>
	<P><a href="{{ url_for('user_join') }}">아직도 회원이 아니신가요?</a></P>
	<P><a href="{{ url_for('update_profile') }}">update portfolio</a></P>
	<P><a href="{{ url_for('portfolio3') }}">portfolio3</a></P>
</div>
{% endblock %}


