<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Contact.css') }}">
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
{% extends "layout.html" %}

{% block contents %}

  <div class="container">
    <div class="row">
          <div class="page">
             <div class="page2 ng">
               
            <div class="container">


<!-- Long Page - START -->
<style>
body {
    margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}
.heading {
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 6px;
    padding-right: 60px;
    padding-left: 60px;
    background-color: #eee;
    padding-top: 48px;
    padding-bottom: 48px;
}
.summary-divider {
    margin: 80px 0;
}
.summary {
    overflow: hidden;
}
.summary-image.pull-left {
    margin-right: 40px;
}
.summary-image.pull-right {
    margin-left: 40px;
}
.summary-heading {
    font-size: 40px;
}

.text-muted{
    font-size:30px;
    font-style: italic;
}
.lead{

    font-size: 15px;
}
footer {
    margin: 50px 0;
}
</style>


<div class="container">
    <div class="summary">
        <img class="summary-image img-suqare img-responsive pull-right" alt="Bootstrap template" src="http://news.hankyung.com/nas_photo/201409/AA.9104641.1.jpg">
        <h2 class="summary-heading">
            First Section 
            <br><span class="text-muted">뮤지션들 해외진출 돕는 '큰 場' 선다</span>
        </h2>
        <p class="lead">
            한국 뮤지션들의 해외 진출을 돕기 위해 만든 ‘2014 서울국제뮤직페어(뮤콘)’가 내달 6~8일 서울 이태원 일대에서 열린다. 자우림, 크라잉넛 등 29개팀이 쇼케이스를 통해 해외 제작자들과 만난다.

            한국콘텐츠진흥원은 22일 서울 한남동의 한 호텔에서 ‘뮤콘 로드쇼’를 열고 이 같은 계획을 발표했다. 한남동 블루스퀘어를 중심으로 이태원 일대에서 열리는 뮤콘은 뮤지션의 쇼케이스 무대를 비롯 음악계 관계자 강연, 쇼케이스, 뮤지션과의 대화, 인터뷰, 비즈매칭 등으로 구성된다.

            올해 뮤콘의 주제는 ‘뮤직 커넥션’이다. “음악이 이어주는 사람, 세계, 콘텐츠를 이야기하고자 이런 주제를 정했다”고 한국콘텐츠진흥원은 설명했다.

            쇼케이스 무대에는 자우림, 크라잉넛, 술탄 오브 더 디스코 등 록 장르 기반 밴드와 잠비나이, 고래야와 같은 국악을 토대로 하는 밴드 등 다양한 장르의 팀이 출연한다. 버벌진트, 산이, 일리네어 레코즈 등 힙합 뮤지션과 크레용팝, 바버렛츠 등 걸그룹도 무대에 선다. 러시아 머미트롤, 캐나다 아스펙츠, 호주 데미 루이즈, 뉴질랜드 더 볼란즈 등 해외 팀도 쇼케이스에 참여한다.
.
        </p>
    </div>
    <hr class="summary-divider" />
    <div class="summary">
        <img class="summary-image img-suqare img-responsive pull-left" alt="Bootstrap template" src="http://ojsfile.ohmynews.com/STD_IMG_FILE/2014/0927/IE001757624_STD.jpg">
        <h2 class="summary-heading">
            Second Section 
            <br><span class="text-muted">"생업 있어야 '좋은 음악' 할 수 있어"</span>
        </h2>
        <p class="lead">
            1개월 전, 두 번째 앨범 <끝이 보여요>를 발표한 인디밴드 송나미 앤 리스폰스는 리더인 싱어송라이터 송나미가 이끄는 혼성 그룹이다. 이들을 만나기 위해 최근 서울 마포구 합정동에 있는 그들의 연습실을 찾았다.

            지하 1층에 9개의 방을 둔 연습실은 송나미가 2년째 운영하고 있었다. 리스폰스를 구성하고 있는 세 멤버도 함께 만날 수 있을 거라고 생각했지만, 뮤지션 이외에 생계유지를 위해 다른 일을 하고 있어서 함께할 수는 없었다.

            새 앨범을 발표하고 활발히 활동해야 하지만 보다 나은 생활을 하기 위해 겸업을 해야 하는 음악인은 부지기수다. 인디 뮤지션이자 음악 연습실의 운영자인 송나미와 허심탄회한 대화를 나누어 봤다.
        </p>
        <a href="http://star.ohmynews.com/NWS_Web/OhmyStar/at_pg.aspx?CNTN_CD=A0002037671">더보기</a>
    </div>
    <hr class="summary-divider" />
    <div class="summary">
        <img class="summary-image img-suqare img-responsive pull-right" alt="Bootstrap template" src="http://img.yonhapnews.co.kr/etc/inner/KR/2014/09/12/AKR20140912064100005_01_i.jpg">
        <h2 class="summary-heading">
            Third Section 
            <br><span class="text-muted">CJ E&M, 인디밴드 '라이너스의담요'와 전속계약</span>
        </h2>
        <p class="lead">
             CJ E&M은 인디 1세대 밴드 '라이너스의담요'와 전속 계약을 맺었다고 12일 밝혔다.  

            CJ E&M 음악사업부문은 "아티스트가 창작 활동에만 집중할 수 있도록 유통, 홍보마케팅, 법률 등 제반 사항을 아낌없이 지원할 계획"이라며 "라이너스의담요는 인디 밴드 고유의 독창성과 고유의 색을 발휘하며 음악 창작 활동에 더욱 전념할 것"이라고 말했다.

            이번 영입은 인디 음악이 더욱 많은 대중에 노출돼 국내 음악 시장의 다양화를 꾀하는 취지라는 게 CJ E&M의 설명이다. 또 우수한 국내 인디 뮤지션들이 해외에 소개될 수 있도록 글로벌 인프라를 적극 활용한다는 계획이다.  

            라이너스의담요는 "그간 인디 밴드로 활동하면서 신경 쓰고 해결해야 할 부분이 많아 정작 창작 활동에 집중하기 어려웠다"며 "소속사 지원을 받으며 어느 때보다 마음에 드는 음악을 만들 수 있을 것으로 기대한다"고 말했다.
        </p>
    </div>
    <hr />

    <footer>
        <p>Copyright &copy; CompanyName 2014</p>
    </footer>
</div>
<!-- Long Page - END -->

</div>

       
    </div>
   </div>
  </div>
</div>
<!-- /#page-content-wrapper -->

{% endblock %}

 <script>
    $('.tooltip-demo').tooltip({
      selector: "[data-toggle=tooltip]",
      container: "body"
    })
  </script>