{% extends "layout.html" %}

{% block contents %}
<div id="page-content-wrapper">
  <div class="container">

    <div class = "col-lg-10 col-lg-offset-1">

    <div class="row w">

          <div class="porfolioh">
              <div class="col-md-3 portfolio-item2">
                 
                      
                      <img src="/static/images/PYT.jpg" class="img-thumbnail" alt="Responsive image"></img>

                  
                   <hr>
                 

              </div>

              <div class="col-md-9">
              <div class="col-md-9 portfolio-item">
                <span class="h6">Profile</span>
                <a href="" data-target="#myModal" type="button"  data-toggle="modal" class="hn">수정</a>
                
                  <!-- Modal -->
                  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                          <h4 class="modal-title" id="myModalLabel">Profile</h4>
                        </div>
                        <form class="form-horizontal" role="form" action="{{url_for('save_profile')}}" method="POST">
                          <!-- 모달 바디 -->
                          <div class="modal-body">
                            
                              <!-- 이름입력 -->
                              <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">이름</label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" name="inputname" value="{{ session['user_name'] }}">
                                </div>
                              </div>
                              <!-- /이름입력-->
                              <!-- 나이입력 -->
                              <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">나이</label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" name="inputage" value="{{ user.age }}">
                                </div>
                              </div>
                              <!-- /나이입력-->

                              <!-- 프로필-->
                              <div class="form-group">
                                <label for="inputage" class="col-sm-2 control-label">프로필</label>
                                <div class="col-sm-10">
                                  <textarea type="text" class="form-control" name="inputprofile" placeholder=""> {{ user.profile }} </textarea>
                                </div>
                              </div>
                              <!-- /프로필-->
                        
                               
                            </div>
                            <!-- /모달 바디 -->
                            <!-- 모달 footer -->
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                              <button type="submit" class="btn btn-primary" id="save_profile">변경사항 저장</button>
                            </div>
                            <!-- /모달 footer -->
                        </form>
                      </div>
                    </div>
                    <!-- /프로필-->


                  </div> 
                  <!-- /Modal -->

                  <p id="mypage_name" class="hn">name : {{ user.name }} </p>
                  <p id="mypage_age" class="hn">age : {{ user.age }} </p>
                  <p id="mypage_profile" class="hn">profile : {{ user.profile }} </p>
                  <p id="mypage_domain" class="hn">domain : {{ user.page_domain}} </p>
              </div>


              

              <br>
              <br>
              <br>
              <br>




               <div class="col-md-9 portfolio-item">
                

                <span class="h6">Performance History</span>
                <div class="container-item container">
                  <a href="" data-target="#HistoryModal" type="button"  data-toggle="modal">히스토리 추가</a> 
                  {% block historymodal %}
                  {% include "historymodal.html" %}
                  {% endblock %}
                </div>
                
                
                {% if histories %}
                  {% for item in histories %}
                    <div class="historytitle hn"><h4>{{item.title}}</h4> 
                      <button type="button" class="close">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                      </button>
                    </div>
                    
                    <p class="hn">{{item.content}}</p>
                    <p class="hn">{{item.starttime}} 부터 {{item.endtime}}</p>
                      
                  {% endfor %}
                {% else %}
                  <span class="h5">경력을 추가해보세요!</span>
                {% endif%}
                
              </div>

              <br>
              <br>
              <br> 
              <br>

               <div class="col-md-9 portfolio-item">
                
                <span class="h6">Music</span>
                <br>
                
                
                  <span class="glyphicon glyphicon-music"></span><a href="https://soundcloud.com/wildwan79/02-le-temps-des-cathedrales" class="hn">박은태-대성당들의 시대</a>
                  <br>
                  <span class="glyphicon glyphicon-music"></span><a href="https://soundcloud.com/werock-3/0werock" class="hn">박은태-겟세마네</a>

                  <a href="#">
                  </a>
              </div>

              <br>
              <br>
              <br>


             
                <div class="col-md-9 portfolio-item">
                  
                  <span class="h6">Video</span>


                  <div class="row">
                    <div class="col-xs-4 col-sm-3">
                      <iframe width="420" height="315" src="//www.youtube.com/embed/XhiSAGJ_Fkw" frameborder="0" allowfullscreen></iframe>
                    </div>
                   
                  </div>
                </div> 

              <br>
              <br>
              <br>
              <br>
              <br>
              </div>
          </div>
      </div>
    </div><!-- <col-lg-10> -->
  </div>
</div>
<!-- /#page-content-wrapper -->


{% endblock %}

