{% extends "layout.html" %}

{% block contents %}
<div id="page-content-wrapper">
  <div class="container">

    <div class = "col-lg-10 col-lg-offset-1">
    <div class="row">
    
          <div class="container">
            <div class="container-item container">
                <a href="#">
                    
                  <img src="https://lh4.googleusercontent.com/-TpuNoofkmQ4/VCFtanwlp3I/AAAAAAAABBM/c7mm4YxS7Fk/w120-h160-no/questionmark.jpg" class="img-thumbnail"></img>

                </a>
            </div>

            
              <div class="container-item container">
                <p id="header1">Profile</p><a href="" data-target="#ProfileModal" type="button"  data-toggle="modal">수정</a>
                {% block profilemodal %}
                  {% include "profilemodal.html" %}
                {% endblock %}

                <p id="mypage_name">name : {{ user.name }} </p>
                <p id="mypage_age">age : {{ user.age }} </p>
                <p id="mypage_profile">profile : {{ user.profile }} </p>
                <p id="mypage_domain">domain : {{ user.page_domain}} </p>
              </div>
              
              <div class="container-item container">
                <p id="header1">Music History</p><a href="" data-target="#HistoryModal" type="button"  data-toggle="modal">히스토리 추가</a>
                {% block historymodal %}
                  {% include "historymodal.html" %}
                {% endblock %}
              </div>
                     
              <!-- <div class="container-item container">
                <p id="header1">Video</p>
                <div class="row">
                  <div class="col-xs-4 col-sm-3">
                    <img src="http://i.ytimg.com/vi/dmG_1LwtlLI/0.jpg" class="img-thumbnail2" alt="Responsive image"><p>국가스텐 - 거울</p></img>
                  </div>
                  <div class="col-xs-4 col-sm-3">
                    <img src="http://www.tvian.com/TVianUpload/TVian/MBCinfo/images/info/201011191548151_P.jpg" class="img-thumbnail2" alt="Responsive image"><p>국가스텐 - 거울</p></img>
                  </div>
                </div>
              </div>  -->
