{% extends "layout.html" %}

{% block contents %}
<div id="page-content-wrapper">
  <div class="container">

    <div class = "col-lg-10 col-lg-offset-1">

    <div class="row w">

          <div class="porfolioh">
              <div class="col-md-3 portfolio-item">
                 
                      
                      <img src="/static/images/questionmark.jpg" class="img-thumbnail" alt="Responsive image"></img>

                  
                   <hr>
                  <ul></ul>
                  <ul></ul>
                  <ul></ul>

              </div>

            
              <div class="col-md-9 portfolio-item">
                <h3>Profile</h3>
            
                  <p id="mypage_name">name : {{ data.name }} </p>
                  <p id="mypage_age">age : {{ data.age }} </p>
                  <p id="mypage_profile">profile : {{ data.profile }} </p>
                  <p id="mypage_domain">domain : {{ data.page_domain}} </p>
              </div>
              <hr>
               <div class="col-md-9 portfolio-item">                
                <h3>Performance History</h3>
                <div class="container-item container">
                </div>
                
                
                {% if histories %}
                  {% for item in histories %}
                    <h4>item.title</h4>
                      
                  {% endfor %}
                {% else %}
                  <h4>경력을 추가해보세요!</h4>
                {% endif%}
                
              </div>

              <br>
              <br>
              <br> 

               <div class="col-md-6 portfolio-item">
                
                <h3>Music</h3>
                
                  <a href="#">박준모 - 지금이순간</a>
                  <a href="#">박준모 - memory</a>

                  <a href="#">
                  </a>
              </div>

              <br>
              <br>
              <br>

             
                <div class="col-md-6">
                  
                  <h3>Video</h3>


                  <div class="row">
                    <div class="col-xs-4 col-sm-3">
                      <img src="http://i.ytimg.com/vi/dmG_1LwtlLI/0.jpg" class="img-thumbnail2" alt="Responsive image"><p>국가스텐 - 거울</p></img>
                    </div>
                    <div class="col-xs-4 col-sm-3">
                      <img src="http://www.tvian.com/TVianUpload/TVian/MBCinfo/images/info/201011191548151_P.jpg" class="img-thumbnail2" alt="Responsive image"><p>국가스텐 - 거울</p></img>
                    </div>
                  </div>
                </div> 

              <br>
              <br>
              <br>
              <br>
              <br>
              
          </div>
      </div>
    </div><!-- <col-lg-10> -->
  </div>
</div>
<!-- /#page-content-wrapper -->


{% endblock %}

