{% extends "layout.html" %}

{% block contents %}
<div id="page-content-wrapper">
  <div class="container">


    <div class="row">
          <div class="col-lg-12">
              
              
          </div>

          <div class="row">
              <div class="col-md-3 portfolio-item">
                  <a href="#">
                      
                      <img src="https://lh4.googleusercontent.com/-TpuNoofkmQ4/VCFtanwlp3I/AAAAAAAABBM/c7mm4YxS7Fk/w120-h160-no/questionmark.jpg" class="img-thumbnail" alt="Responsive image"></img>

                  </a>
              </div>

            
              <div class="col-md-6 portfolio-item">
                <p id="header1">Profile</p>
                
                 
     

                  <p id="mypage_name">name : {{ data.name }} </p>
                  <p id="mypage_age">age : {{ data.age }} </p>
                  <p id="mypage_profile">profile : {{ data.profile }} </p>
                  <p id="mypage_domain">domain : www.musicdoc.com/{{ data.page_domain}} </p>
              </div>

              <br>
              <br>
              <br>
              <br>
              <br>
              


              <div class="col-md-11 portfolio-item">
                <p id="header1">Performance History</p>
                
                  <p id="name1">2012년 비긴어게인 OST 제작참여</p>
                  <p id="name1">2014년 7-14 ~ 9-14 뮤지컬 모짜르트 주연!</p>

                  <a href="#">
                  </a>
              </div>

              <br>
              <br>
              <br> 

               <div class="col-md-11 portfolio-item">
                <p id="header1">Music</p>
                
                  <a href="#">박준모 - 지금이순간</a>
                  <a href="#">박준모 - memory</a>

                  <a href="#">
                  </a>
              </div>

              <br>
              <br>
              <br>

             
                <div class="col-sm-11">
                  <p id="header1">Video</p>
                  <div class="row">
                    <div class="col-xs-4 col-sm-3">
                      <img src="http://i.ytimg.com/vi/dmG_1LwtlLI/0.jpg" class="img-thumbnail2" alt="Responsive image"><p>국가스텐 - 거울</p></img>
                    </div>
                    <div class="col-xs-4 col-sm-3">
                      <img src="http://www.tvian.com/TVianUpload/TVian/MBCinfo/images/info/201011191548151_P.jpg" class="img-thumbnail2" alt="Responsive image"><p>국가스텐 - 거울</p></img>
                    </div>
                  </div>
                </div> 
          </div>
      </div>
  </div>
</div>
<!-- /#page-content-wrapper -->

{% endblock %}

