{% extends "layout.html" %}

{% block contents %}
<div id="page-content-wrapper">
  <div class="container">


    <div class="row">
          <div class="col-lg-12">
              
              
          </div>

          <div class="row">
              <div class="col-md-3 portfolio-item">
                  <a href="#">
                      
                      <img src="https://lh4.googleusercontent.com/-TpuNoofkmQ4/VCFtanwlp3I/AAAAAAAABBM/c7mm4YxS7Fk/w120-h160-no/questionmark.jpg" class="img-thumbnail" alt="Responsive image"></img>

                  </a>
              </div>

            
              <div class="col-md-6 portfolio-item">
                <p id="header1">Profile</p><a href="" data-target="#myModal" type="button"  data-toggle="modal">수정</a>
                
                  <!-- Modal -->
                  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                          <h4 class="modal-title" id="myModalLabel">Profile</h4>
                        </div>
                        <form class="form-horizontal" role="form" action="{{url_for('save_profile')}}" method="POST">
                          <!-- 모달 바디 -->
                          <div class="modal-body">
                            
                              <!-- 이름입력 -->
                              <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">이름</label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" name="inputname" value="{{ session['user_name'] }}">
                                </div>
                              </div>
                              <!-- /이름입력-->
                              <!-- 나이입력 -->
                              <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">나이</label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" name="inputage" value="{{ user.age }}">
                                </div>
                              </div>
                              <!-- /나이입력-->

                              <!-- 프로필-->
                              <div class="form-group">
                                <label for="inputage" class="col-sm-2 control-label">프로필</label>
                                <div class="col-sm-10">
                                  <textarea type="text" class="form-control" name="inputprofile" placeholder=""> {{ user.profile }} </textarea>
                                </div>
                              </div>
                              <!-- /프로필-->
                        
                               
                            </div>
                            <!-- /모달 바디 -->
                            <!-- 모달 footer -->
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                              <button type="submit" class="btn btn-primary" id="save_profile">변경사항 저장</button>
                            </div>
                            <!-- /모달 footer -->
                        </form>
                      </div>
                    </div>
                    <!-- /프로필-->
                  </div> 
                  <!-- /Modal -->

                  <p id="mypage_name">name : {{ user.name }} </p>
                  <p id="mypage_age">age : {{ user.age }} </p>
                  <p id="mypage_profile">profile : {{ user.profile }} </p>
                  <p id="mypage_domain">domain : {{ user.page_domain}} </p>
              </div>

              <br>
              <br>
              <br>
              <br>
              <br>
              


              <div class="col-md-11 portfolio-item">
                <p id="header1">Performance History</p>
                
                  <p id="name1">2012년 비긴어게인 OST 제작참여</p>
                  <p id="name1">2014년 7-14 ~ 9-14 뮤지컬 모짜르트 주연!</p>

                  <a href="#">
                  </a>
              </div>

              <br>
              <br>
              <br> 

               <div class="col-md-11 portfolio-item">
                <p id="header1">Music</p>
                
                  <a href="#">박준모 - 지금이순간</a>
                  <a href="#">박준모 - memory</a>

                  <a href="#">
                  </a>
              </div>

              <br>
              <br>
              <br>

             
                <div class="col-sm-11">
                  <p id="header1">Video</p>
                  <div class="row">
                    <div class="col-xs-4 col-sm-3">
                      <img src="http://i.ytimg.com/vi/dmG_1LwtlLI/0.jpg" class="img-thumbnail2" alt="Responsive image"><p>국가스텐 - 거울</p></img>
                    </div>
                    <div class="col-xs-4 col-sm-3">
                      <img src="http://www.tvian.com/TVianUpload/TVian/MBCinfo/images/info/201011191548151_P.jpg" class="img-thumbnail2" alt="Responsive image"><p>국가스텐 - 거울</p></img>
                    </div>
                  </div>
                </div> 
          </div>
      </div>
  </div>
</div>
<!-- /#page-content-wrapper -->

{% endblock %}

