{% extends "layout.html" %}

{% block contents %}
<div id="page-content-wrapper">
  <div class="container">
    <div class="row">
          <div class="page">

            <div>
                포트폴리오가 완성되었습니다. 
            <div>

          <br>
          <br>
          <br>

           <a href="#">
                      
                      <img src="http://www.gratisography.com/pictures/130.jpg" class="img-thumbnail" alt="Responsive image">

                  </a>

       

    </div>
  </div>
</div>
<!-- /#page-content-wrapper -->

{% endblock %}