{% extends "layout.html" %}

{% block contents %}
<div id="page-content-wrapper">
  <div class="container">
    <div class="row">
          <div class="page">

            <div>
                포트폴리오를 완성하세요
            <div>

            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                75%
              </div>
            </div>


              <h>영상업로드</h> 
              
             </div>

          
            <iframe width="560" height="315" src="//www.youtube.com/embed/z_a1p5dku3I" frameborder="0" allowfullscreen></iframe>

          <ul class="pager">
         
          <P><a href="{{ url_for('portfolio6') }}">Prev</a></P>
          <P><a href="{{ url_for('portfolio8') }}">Next</a></P>
          </ul>

    </div>
  </div>
</div>
<!-- /#page-content-wrapper -->

{% endblock %}

