<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/portfolio4.css') }}">
{% extends "layout.html" %}

{% block contents %}
<div id="page-content-wrapper">
  <div class="container">
    <div class="row">
          <div class="page">
             <div class="page2 ng">
                포트폴리오가 완성되었습니다!
              <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                100%
              </div>
            </div>
          <br>
          <br>
          <br>

           <a href="#">
                      
                      <img src="http://www.gratisography.com/pictures/130.jpg" class="img-thumbnail" alt="Responsive image">

                  </a>

       

    </div>
  </div>
</div>
<!-- /#page-content-wrapper -->

{% endblock %}