{% extends "layout.html" %}
{% block contents %}

<div class="container">
	<div class="row">
		<h2>Performance History</h2>
	</div>
	
	<a href="{{ url_for('add_history') }}">입력하기</a>
	

		


	<div class="qa-message-list" id="wallmessages">
	<!-- 	{% if history %}
			{% for i in range(0,length) %} -->
			<!-- json 생김새 
			{
				"id":
				{
					"type":
					"title":
					"date":
					"content":
				}
			}
			-->
			<!-- 메세지 아이템 -->
			<!-- <div class="message-item" id="m16">
				<div class="message-inner">
					<div class="message-head clearfix">
						
						<div class="user-detail">
							<h5 class="handle">{{history[i]['title']}}</h5>
							<div class="post-meta">
								<div class="asker-meta">
									<span class="qa-message-what"></span>
									<span class="qa-message-when">
										<span class="qa-message-when-data">{{history[i]['date']}}</span>
									</span>
									
								</div>
							</div>
						</div>
					</div>
					<div class="qa-message-content">
						{{history[i]['content']}}
					</div>
				</div>
			</div> -->
			<!-- /메세지 아이템 -->
		<!-- 	{% endfor%}
		{% else %}
			<p>본인의 Music History를 추가해보세요!</p>
		{% endif%}
 -->
	</div>
</div>
{% endblock%}
